{% extends 'base.html.twig' %}

{% block title %}Edit weather{% endblock %}
{% block pageTitle %}Edit weather{% endblock %}

{% block body %}

    <div class="p-3">
        {{ include('weather_controller_crud/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="text-decoration-none" href="{{ path('app_weather_controller_crud_index') }}">
            <button class="btn btn-sm btn-outline-dark ms-2 my-2">Back to list</button>
        </a>

        {{ include('weather_controller_crud/_delete_form.html.twig') }}
    </div>


{% endblock %}
