{% extends 'base.html.twig' %}

{% block title %}New Weather{% endblock %}
{% block pageTitle %}Add new measurement{% endblock %}

{% block body %}

    <div class="p-3">
        {{ include('weather_controller_crud/_form.html.twig') }}

        <a class="text-decoration-none" href="{{ path('app_weather_controller_crud_index') }}">
            <button class="btn btn-sm btn-outline-dark ms-2 mt-2">Back to list</button>
        </a>

    </div>

{% endblock %}
