{% extends 'base.html.twig' %}

{% block title %}New city{% endblock %}
{% block pageTitle %}Add new city{% endblock %}

{% block body %}

    <div class="p-3">
        {{ include('cities/_form.html.twig') }}

        <a class="text-decoration-none" href="{{ path('app_cities_index') }}">
            <button class="btn btn-sm btn-outline-dark ms-2 mt-2">Back to list</button>
        </a>
    </div>


{% endblock %}
